@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.restaurant h2{
  text-align: center;
}

.church h2{
  text-align: center;
}

.greeting{
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}


.meetus {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: rgba(204, 221, 231, 0.26);
}
