.god-parents{
  display: flex;
  background: white;
  align-items: center;
  margin-top: 15px;
  justify-content: space-around;

}

.godfather {
  display: inline-block;
}

.godmother {
  display: inline-block;
}

.godmotherinfo {
  display: inline-block;
  font-family: 'Gloria Hallelujah', cursive;
}

.godfatherinfo {
  display: inline-block;
  font-family: 'Gloria Hallelujah', cursive;
}
