.map {
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: space-around;
}

.restaurant {
  display: inline-block;
}

.church {
  display: inline-block;
}

.church h2{
  text-align: center;
}

.restaurant h2{
  text-align: center;
}
