@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.map {
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: space-around;
}

.restaurantmap {
  display: inline-block;
}

.churchmap {
  display: inline-block;
}

.churchmap h2{
  text-align: center;
}

.restaurantmap h2{
  text-align: center;
}

.church h4{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;

}

.meetus {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}
